:root {
  --color-dark: hsl(0, 0%, 8%);
  --color-bright: hsl(0, 0%, 100%);
  --color-brand: hsl(110, 90%, 35%);

  --lineLength-maxWidth: 34rem;
  --img-maxWidth: 51rem;

  --fontSize-html: 1.063rem;
  --fontSize-h2: 1.412rem;
  --fontSize-h1: 2rem;

  --lineHeight-body: 1.647rem;
  --lineHeight-margin-xsmall: calc(var(--lineHeight-body) / 4 * 1);
  --lineHeight-margin-small: calc(var(--lineHeight-body) / 4 * 3);
  --lineHeight-margin-medium: calc(var(--lineHeight-body) / 4 * 6);

  --spacer-small: calc(var(--fontSize-h1) / 2);
  --spacer-medium: var(--fontSize-h1);
  --spacer-large: calc(var(--fontSize-h1) * 2);

  --opacity-low: 0.25;
  --opacity-mid: 0.5;
  --opacity-hi: 0.75;

  --transitionDuration: 0.3s;
  --transitionFunction: ease;
  --transition: var(--transitionDuration) var(--transitionFunction);

  --zIndex-nav: 30;
  --zIndex-modal: 20;
  --zIndex-overlay: 10;
}

@media (--small) {
  :root {
    --fontSize-html: calc(1.009rem + 0.268vw);
    --fontSize-h2: calc(1.338rem + 0.392vw);
    --fontSize-h1: calc(1.781rem + 1.166vw);
    --lineHeight-body: calc(1.593rem + 0.288vw);
  }
}

@media (--medium) {
  :root {
  }
}

@media (--large) {
  :root {
  }
}

@media (--xlarge) {
  :root {
    --fontSize-html: 1.25rem;
    --fontSize-h2: 1.62rem;
    --fontSize-h1: 2.62rem;
    --lineHeight-body: 1.8rem;
  }
}
