html, body {
  overflow-x: hidden;
}

body,
.theme-primary,
.theme-secondary {
  background-color: var(--color-themed-bg);
  color: var(--color-themed-fg);
}

button {
  background: transparent;
  color: inherit;
  padding: var(--spacer-small);
  border-radius: var(--spacer-small);
  transition: var(--transition);
  box-shadow: var(--shadow);
  overflow: hidden;

  &:hover {
    box-shadow: var(--shadow--hover);
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    box-shadow: var(--shadow--inset);
    transition: 0.2s var(--transitionFunction);
  }
}

::selection {
  color: var(--color-themed-bg);
  background-color: var(--color-themed-fg);
  text-shadow: none;
}

.ie-check {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none !important;
  }
}

.ie-message {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: none;
  max-width: 30rem;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block;
  }
}

@supports (-ms-ime-align:auto) {
  .ie-check,
  .ie-check * {
    display: none !important;
  }

  .ie-message {
    display: block !important;
  }
}
