html, body {
  overflow-x: hidden;
}

body,
.theme-primary,
.theme-secondary {
  background-color: var(--color-themed-bg);
  color: var(--color-themed-fg);
}

button {
  display: flex;
  background: var(--color-themed-bg);
  color: inherit;
  padding: var(--spacer-small);
  border-radius: var(--spacer-small);
  transition: var(--transition);
  box-shadow: var(--shadow);
  overflow: hidden;

  &:hover {
    box-shadow: var(--shadow--hover);
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    box-shadow: var(--shadow--inset);
    background-color: var(--color-themed-bg-dimmed);
    transition: 0.2s var(--transitionFunction);
  }

  &.button-small {
    padding: var(--spacer-xsmall);
    border-radius: var(--spacer-xsmall);
  }
}

input, select {
  display: flex;
  font-family: inherit;
	font-size: 1rem;
	margin: 0;
	padding: var(--spacer-xsmall);
	outline: none;
  appearance: none;
  border-radius: var(--spacer-xsmall);
  box-shadow: var(--shadow);
  width: 100%;

  &:focus {
    outline: none;
  }
}

select {
  background: var(--color-themed-bg);
}

::selection {
  color: var(--color-themed-bg);
  background-color: var(--color-themed-fg);
  text-shadow: none;
}

:focus {
  outline: 1px solid var(--color-brand);
  box-shadow: var(--shadow--hover);
}

.ie-check {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none !important;
  }
}

.ie-message {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: none;
  max-width: 30rem;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block;
  }
}

@supports (-ms-ime-align:auto) {
  .ie-check,
  .ie-check * {
    display: none !important;
  }

  .ie-message {
    display: block !important;
  }
}
