html,
body {
  overflow-x: hidden;
}

body,
.theme-primary,
.theme-secondary {
  background-color: var(--color-themed-bg);
  color: var(--color-themed-fg);
}

button,
.u-button {
  display: flex;
  background: var(--color-themed-bg);
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  padding: var(--spacer-small);
  border-radius: var(--spacer-small);
  transition: var(--transition);
  box-shadow: var(--shadow);
  overflow: hidden;

  &:hover {
    box-shadow: var(--shadow--hover);
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    box-shadow: var(--shadow--inset);
    background-color: var(--color-themed-bg-dimmed);
    transition: 0.2s var(--transitionFunction);
  }

  &.u-button-small {
    padding: var(--spacer-xsmall);
    border-radius: var(--spacer-xsmall);
  }
}

input[type='range'] {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  margin-left: calc(var(--spacer-small) * -0.5);
  margin-right: calc(var(--spacer-small) * -0.5);
  width: calc(var(--spacer-small) + 100%);
  -webkit-appearance: none;
}

::range-track {
  background: transparent;
  width: 100%;
  height: var(--spacer-small);
}

::range-thumb {
  -webkit-appearance: none;
  background-color: var(--color-bright);
  box-shadow: var(--shadow);
  border: 0px solid white;
  border-radius: 50%;
  height: var(--spacer-small);
  width: var(--spacer-small);
}

input:not([type='range']),
select {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: var(--spacer-xsmall);
  outline: none;
  appearance: none;
  border-radius: var(--spacer-xsmall);
  box-shadow: var(--shadow);
  width: 100%;

  &:focus {
    outline: none;
  }
}

select {
  background: var(--color-themed-bg);
}

::selection {
  color: var(--color-themed-bg);
  background-color: var(--color-themed-fg);
  text-shadow: none;
  opacity: 1;
}

input::selection {
  background-color: var(--color-themed-bg);
  color: var(--color-themed-fg);
}

:focus {
  outline: 1px solid var(--color-brand);
  box-shadow: var(--shadow--hover);
}

.ie-check {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none !important;
  }
}

.ie-message {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: none;
  max-width: 30rem;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block;
  }
}

@supports (-ms-ime-align: auto) {
  .ie-check,
  .ie-check * {
    display: none !important;
  }

  .ie-message {
    display: block !important;
  }
}
