@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.eg-slide {
  width: calc(100% - var(--spacer-small) * 2);
  height: calc(100% - var(--spacer-small) * 2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eg-slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & iframe {
    animation: fadeIn 1s;
    background-color: white;
    width: 100%;
    height: 100%;

    &.c-iframe--scaled {
      width: 175%;
      height: 175%;
      transform: scale(0.571428571);
      transform-origin: top left;
    }
  }
}
