.theme-primary {
  background-color: var(--color-dark);
  color: var(--color-bright);
}

.theme-secondary {
  background-color: var(--color-bright);
  color: var(--color-dark);
}

.u-lineLength {
  max-width: var(--lineLength-maxWidth);
}

/* Positioning */
.u-position-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-container {
  margin-right: var(--spacer-small);
  margin-left: var(--spacer-small);
}

.u-section {
  margin-bottom: var(--spacer-large);
}
