@import 'reset';

// Colors
$white: #fff;
$black: #000;
$text-color: #222;
$link-color: hsl(196, 90%, 45%);
$shadow: $text-color;
$border: 1px solid $shadow;
$separator: rgba($text-color, .2);

$grey: #3d3f40;
$red: #7b050d;
$green: #075c16;
$blue: #162190;

// Sizes
$bar-height: 2.5rem;
$dropdown-icon: .35em;
$margin: .625rem;
$radius: 0; //.1875rem

// General styling
* {
  box-sizing: border-box;
}

// Text
h1,
h2 {
  font-weight   : bold;
  letter-spacing: 0;
  margin-top    : .5em;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-family  : 'Interstate Light';
  margin-bottom: .5em;
}

a {
  color          : $link-color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: darken($link-color, 10%);
  }
}

// Button
button {
  border       : 0;
  border-radius: $radius;
  cursor       : pointer;
  font-family  : inherit;
  font-size    : 1rem;
  font-weight  : bold;
  margin       : 0;

  &:not(:last-child) {
    margin-right: $margin;
  }

  &.square {
    height    : $margin * 3;
    text-align: center;
    width     : $margin * 3;
  }

  &.grey {
    background-color: $grey;
    color           : $white;
  }

  &.red {
    background-color: $red;
    color           : $white;
  }

  &.green {
    background-color: $green;
    color           : $white;
  }

  &.blue {
    background-color: $blue;
    color           : $white;
  }

  &.white {
    background-color: $white;
    border          : 1px solid $text-color;
    color           : $text-color;
  }
}

body {
  font-family   : Interstate;
  font-style    : normal;
  font-weight   : normal;
  letter-spacing: .03em;
  line-height   : 1.6;
}

header {
  align-items     : center;
  background-color: $white;
  border-bottom   : $border;
  color           : $text-color;
  display         : flex;
  height          : $bar-height;
  justify-content : space-between;
  padding         : $bar-height / 4;
  position        : fixed;
  top             : 0;
  width           : 100%;

  svg {
    height: $bar-height / 2;
  }
}

.header__logo {
  line-height: 0;
}

.header__links {
  a {
    position: relative;

    &:not(:last-child) {
      margin-right: $margin * 2;

      &::after {
        background-color: $separator;
        bottom          : 0;
        content         : '';
        position        : absolute;
        right           : - $margin * 1.2;
        top             : 0;
        width           : 1px;
      }
    }
  }
}

.dropdown {
  cursor       : pointer;
  display      : inline-block;
  padding-right: 1.5em;
  position     : relative;
  user-select  : none;

  &--expanded {
    &::after {
      transform: rotate(180deg);
    }

    .dropdown__list {
      display: block;
    }
  }

  &:not(:last-child) {
    margin-right: .5em;
  }

  &::after {
    border-left : $dropdown-icon solid transparent;
    border-right: $dropdown-icon solid transparent;
    border-top  : $dropdown-icon solid $text-color;
    bottom      : 0;
    content     : '';
    height      : 0;
    margin      : auto;
    position    : absolute;
    right       : .6em;
    top         : 0;
    width       : 0;
  }
}

.dropdown__list {
  background-color: $white;
  border-bottom   : $border;
  border-left     : $border;
  border-right    : $border;
  border-top      : 1px solid $white;
  display         : none;
  font-size       : 0;
  left            : 50%;
  margin-left     : - $margin / 2;
  margin-top      : -1px;
  padding         : $margin;
  position        : absolute;
  transform       : translateX(-50%);
  white-space     : nowrap;
}

.dropdown__title {
  line-height: $bar-height;
}

// Demo styling
body {
  background-color: $grey;
  color           : $white;
  display         : flex;
  flex-direction  : column;
  min-height      : 100vh;
}

section {
  flex      : 1;
  margin-top: $bar-height;
  padding   : $margin;
}

footer {
  font-family: 'Interstate Light';
  padding    : $margin;
}

.screenshots {
  align-content  : flex-start;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
  margin         : -$margin;
  overflow       : hidden;
  padding        : $margin;

  a {
    box-shadow   : 0 0 $margin rgba($black, .2);
    flex-shrink  : 1;
    margin-bottom: $margin * 3;
    width        : 100%;

    @media (min-width: 40rem) {
      margin-bottom: 3vw;
      width        : 47.2vw;
    }

    @media (min-width: 60rem) {
      margin-bottom: 2vw;
      width: 31.3vw;
    }
  }

  img {
    max-width: 100%;
  }
}
