// Components
// @import 'reset';
// @import 'noise';
@import 'fonts';
@import 'typographic';

// Misc var
$color: hsl(206, 22%, 26%);
$fade-black: rgba(0,0,0,1);
$link-opacity: 0.6;
$link-color: #dd5e30;
$icon-opacity: 0.6;
$text-color: $color;
$hover-in: 0.3s ease;
$hover-out: 0.6s ease;

// Typegraphic vars
$line-height-ratio: 1.75;
$header-ratio: $golden;
$body-font: 'gidole';
$body-font-weight: normal;
$body-color: $text-color;
$header-font: $body-font;
$header-font-weight: $body-font-weight;
$header-color: $text-color;
$min-font: 16px;
$max-font: 20px;
$min-width: 600px;
$max-width: 1000px;
$vertical-rhythm: true;

// Mixins
@mixin pseudo($position) {
  content : '';
  position: $position;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;
}
@mixin fontfix() {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Reset
* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}
body,
html {
  height: 100%;
}

// Typographic
@include typographic();

// @include grid-overlay(red, 1);
// Selection
* {
  user-select: none;
}
p,
p > a {
  user-select: text;
  &::selection {
    color     : white;
    background: $color;
  }
}

// Layout + styling
html {
  @include fontfix();
}
body {
  color: $text-color;
}
header {
  height    : 80%;
  max-height: 100vw;
  width     : 85%;
  max-width : $max-width*0.6;
  margin    : 0 auto;
  > div {
    position : relative;
    top      : 50%;
    left     : 50%;
    transform: translate3d(-50%,-50%,0);
    > div {
      position : relative;
      padding-bottom: 22.56%;
      &:first-child {
        padding-bottom: 40%;
      }
    }
  }
  svg {
    fill    : $text-color;
    position: absolute;
    top     : 0;
    left    : 0;
  }
}
article,
footer {
  max-width: 35rem;
  margin   : 0 auto;
  position : relative;
  > * {
    padding: 0 5%;
  }
}
footer {
  margin-top : vr-block(2);
  line-height: vr-block(1.5);
  overflow   : hidden;
  min-height : vr-block(10);
}
a {
  position       : relative;
  text-decoration: none;
  color          : $text-color;
  &:after {
    transition      : $hover-out;
    content         : '';
    position        : absolute;
    left            : -0.1rem;
    right           : -0.1rem;
    bottom          : -0.05rem;
    height          : 0.15rem;
    background-color: rgba($link-color,$link-opacity);
    z-index         : -1;
  }
  &:hover,
  &:focus {
    &:after {
      transition      : $hover-in;
      transform       : translate3d(0, 0.15rem, 0);
      background-color: $link-color;
    }
  }
}
svg {
  height: 100%;
  width : 100%;
}
img {
  position  : absolute;
  bottom    : 0;
  right     : -5%;
  z-index   : -1;
  max-height: 100%;
  max-width : 60%;
}

// Classes
.social {
  max-width: 60%;
  margin   : vr-block(.5) 0 vr-block(1) (- vr-block(.4));
  span {
    display: inline-block;
  }
  a {
    transition: $hover-out;
    display   : inline-block;
    height    : vr-block(2);
    width     : vr-block(2);
    opacity   : $icon-opacity;
    margin-top: - vr-block(.5);
    &:after {
      opacity: 0;
    }
    &:hover,
    &:focus {
      opacity   : 1;
      transition: $hover-in;
    }
  }
}

// Don't show mask on iOS devices
@media screen and (min-width: 1025px) {

  // Only show on supported devices
  .cssmask {
    body:before {
      @include pseudo(fixed);
      background    : white;
      mask-image    : linear-gradient($fade-black 0%, transparent 20%, transparent 80%, $fade-black 100%);
      pointer-events: none;
      z-index       : 10;
    }
  }
}

// Less space between links if modern browser with mouse
@media (pointer: fine) {
  footer {
    line-height: inherit;
  }
}
