// Components
// @import 'reset';
// @import 'noise';
@import 'fonts';
@import 'typographic';
// Misc var
$color: hsl(192, 2%, 20%);
$white: #fff;
$link-opacity: 1;
$link-color: hsl(12, 83%, 49%);
$icon-opacity: 1;
$text-color: $color;
$gradient: linear-gradient( 190deg, hsl(22, 90%, 50%), hsl(8, 80%, 50%));
$hover-in: .2s ease;
$hover-out: .4s ease;
// Typegraphic vars
$line-height-ratio: 1.75;
$header-ratio: $golden;
$body-font: 'gidole';
$body-font-weight: normal;
$body-color: $text-color;
$header-font: $body-font;
$header-font-weight: $body-font-weight;
$header-color: $text-color;
$min-font: 16px;
$max-font: 20px;
$min-width: 400px;
$max-width: 630px;
$vertical-rhythm: true;

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}
// Typographic
@include typographic();
// @include grid-overlay(red, 1);


// Selection
* {
  user-select: none;
}

p,
p > a {
  user-select: text;

  &::selection {
    color: $white;
    background: $color;
  }
}

// Defaults
p {
  padding: 0 vr-block(.25);
  letter-spacing: 0.025em;
}
svg {
  fill: url(#svgGradient);
}

// Layout + styling
body {
  color: $text-color;
}

.header {
  height: 50vh;
  max-height: 100vw;
  min-height: 300px;
  width: 85vw;
  max-width: $max-width*0.8;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    height: vr-block(3);
    margin-bottom: vr-block(.3);
  }

  &__logotext {
    height: vr-block(2);
    display: block;
    fill: currentColor;
  }
}

article,
footer {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
}

footer {
  line-height: vr-block(1.5);
  margin-top: vr-block(1);
  min-height: vr-block(10);
}

p > a {
  color: $text-color;
  position: relative;
  text-decoration: none;
  transition: $hover-out;
  white-space: nowrap;
  z-index: 1;

  &:after {
    background: $gradient;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: $hover-out;
    right: 0;
    z-index: -1;
  }

  &:focus,
  &:hover {
    color: $white;
    transition: $hover-in;

    &:after {
      bottom: -0.15rem;
      height: vr-block(.8);
      left: -0.25rem;
      right: -0.25rem;
      transition: $hover-in;
      border-radius: vr-block(.2);
    }
  }
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-height: 100%;
  max-width: 60%;
}

// Classes
.social {
  max-width: 60%;
  margin: vr-block(1.6) 0 vr-block(.4);

  a {
    display: inline-block;
    margin-top: - vr-block(.25);
    position: relative;
    line-height: 0;
    color: $link-color;
    transition: $hover-out;

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: '';
      background: $gradient;
      z-index: -1;
      border-radius: vr-block(.5);
      transform: scale3d(0,0,0);
      transition: $hover-out;
      opacity: 0;
    }
    &:focus,
    &:hover {
      transition: $hover-in;
      color: $white;

      &:after {
        transition: $hover-in;
        transform: scale3d(1,1,1);
        opacity: 1;
      }

      .social__icon {
        fill: currentColor;
      }
    }
  }

  &__icon {
    height: vr-block(1.5);
    width: vr-block(1.5);
  }
}

// Less space between links if modern browser with mouse
@media (pointer: fine) {
  footer {
    line-height: inherit;
  }
}
