// Components
// @import 'reset';
// @import 'noise';
@import 'fonts';
@import 'typographic';

// Variables
$text-color: white;
$padding-percent: 8;
$hover-in: 0.3s ease;
$hover-out: 0.6s ease;

//Orange
$start-color: hsl(39, 100%, 46%);
$medium-color: hsl(14, 70%, 54%);
$end-color: hsl(334, 69%, 48%);
$gradient: linear-gradient(to bottom left, $start-color 0%, $end-color 100%);
$horizontalgradient: linear-gradient(to left, $medium-color 0%, $end-color 100%);
$fade-black: rgba(0,0,0,0.8);
$link-opacity: 0.3;

// Typegraphic vars
$line-height-ratio: 1.75;
$header-ratio: $golden;
$body-font: 'gidole';
$body-font-weight: normal;
$body-color: $text-color;
$header-font: $body-font;
$header-font-weight: $body-font-weight;
$header-color: $text-color;
$min-font: 16px;
$max-font: 22px;
$min-width: 600px;
$max-width: 1000px;
$vertical-rhythm: true;

// Background mixin
@mixin pseudo($position) {
  content : '';
  position: $position;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;
};

// Typographic
@include typographic();

// @include grid-overlay(red, 1);
// Selection
* {
  user-select: none;
}
p,
a,
small {
  user-select: text;
  &::selection {
    color     : $medium-color;
    background: $text-color;
  }
}

// Layout + styling
html {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
body {
  color     : $text-color;
  padding   : 0 5%;
  background: $horizontalgradient;
  &:after,
  &:before {
    @include pseudo(fixed);
  }
  &:after {
    background: $gradient;
    z-index   : -10;
  }
}
header,
article {
  opacity  : 0;
  animation: 0.6s fadeIn ease-in 1 forwards 0.3s;
  position : relative;
}
header {
  position  : relative;
  height    : 80%;
  max-height: 120vw;
  .container {
    max-width     : $max-width*0.6;
    position      : relative;
    top           : 55%;
    left          : 50%;
    transform     : translate3d(-50%,-50%,0);
    padding-bottom: 22.56%;
  }
  svg {
    fill    : $text-color;
    position: absolute;
    top     : 0;
    left    : 0;
  }
}
article {
  max-width: 28rem;
  margin   : 0 auto;
  position : relative;
  letter-spacing: 0.03rem;
}
a {
  position       : relative;
  text-decoration: none;
  color          : $text-color;
  &:after {
    transition      : $hover-out;
    content         : '';
    position        : absolute;
    left            : -0.1rem;
    right           : -0.1rem;
    bottom          : 0;
    height          : 0.3rem;
    background-color: rgba($text-color,$link-opacity);
  }
  &:hover,
  &:focus {
    &:after {
      transition      : $hover-in;
      transform       : scale3d(1,0.5,1) translate3d(0, 0.4rem, 0);
      background-color: $text-color;
    }
  }
}
svg {
  height: 100%;
  width : 100%;
}
img {
  position: absolute;
  bottom  : 0;
  right   : -5%;
  width   : 60%;
  opacity : 0.2;
}

// Classes
.contact {
  padding-top: vr-block(0.9);
  line-height: vr-block(1.5);
}
.social {
  margin-left: - vr-block(.4);
  height     : vr-block(6);
  max-height : 30vw;
  a {
    transition: $hover-out;
    display   : inline-block;
    height    : vr-block(2);
    width     : vr-block(2);
    fill      : $text-color;
    opacity   : $link-opacity;
    &:after {
      opacity: 0;
    }
    &:hover,
    &:focus {
      opacity   : 1;
      transition: $hover-in;
    }
  }
}

// Animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Don't show mask on iOS devices
@media screen and (min-width: 1025px) {

  // Don't show on unsuported devices
  .cssmask {
    body {
      &:before {
        background    : $gradient;
        mask-image    : linear-gradient($fade-black 0%, transparent 15%, transparent 85%, $fade-black 100%);
        pointer-events: none;
        z-index       : 10;
      }
    }
  }
}

// Less space between links if modern browser with mouse
@media (pointer: fine) {
  .contact {
    line-height: inherit;
  }
  .social {
    height: vr-block(7);
  }
}
